.who {
    position: relative;

    display: flex;
    align-items: center;

    background: linear-gradient(247.77deg, #BE64BE -23.09%, #170065 77.22%);

    &__info {
        position: relative;
        z-index: 1;

        margin: 0 20% 0 50%;

        &-title {
            @include title;
            margin-bottom: 60px;
        }

        &-text {
            @include text;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        width: 65%;
        height: 100%;

        &-man,
        &-vector {
            position: absolute;

            top: 0;
            left: 0;

            user-select: none;
            object-fit: cover;
            pointer-events: none;

            width: 100%;
            height: 100%;
        }
    }
}

// 1400
@media screen and (max-width: 1400px) {
    .who {

        &__info {
            margin: 0 14% 0 40%;
        }
    }
}


// 1200
@include media-breakpoint-down(lg) {
    .who {

        &__info {
            margin: 0 14% 0 30%;

            &-title {
                margin-bottom: 50px;
            }
        }

        &__image {

            &-man,
            &-vector {
                position: absolute;

                top: auto;
                left: 0;
                bottom: 0;

                object-fit: cover;

                width: 100%;
                height: 75%;
            }
        }
    }
}

// 992
@include media-breakpoint-down(md) {
    .who {
        padding-top: 80px;

        display: flex;
        flex-direction: column;

        &__info {
            margin: 0 30px;

            &-title {
                margin-bottom: 35px;
            }
        }

        &__image {
            position: relative;

            width: 100%;
            height: 500px;

            &-man,
            &-vector {
                height: 100%;
            }
        }
    }
}

// 768
@include media-breakpoint-down(sm) {
    .who {
        padding-top: 60px;

        &__info {
            margin: 0 20px;

            &-title {
                margin-bottom: 25px;
            }
        }

        &__image {
            height: 400px;
        }
    }
}

// 576
@media screen and (max-width: 576px) {
    .who {

        &__info {

            &-title {
                margin-bottom: 15px;
            }
        }
    }
}
