@mixin image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

@mixin text-border($color, $border-color) {
  color: $color;
  text-shadow: 0 1px 0 $border-color, 0px -1px 0 $border-color, 1px 0px 0 $border-color, -1px 0px 0 $border-color, 1px 1px 0 $border-color, 1px -1px 0 $border-color, -1px 1px 0 $border-color, -1px -1px 0 $border-color;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin sell($width, $fz) {
  content: 'SELL';
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $width;

  background: $ping1;

  font-weight: bold;
  font-size: $fz;
  color: $white;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn {
  border: none;
  outline: none !important;
  background: transparent;
}

// Referral UI
@mixin referral-body($height) {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: $height;

  padding: 15% 0 30px;
  margin: 0 15px;

  // 1200
  @include media-breakpoint-down(lg) {
    padding: 18% 0 30px;
  }

  // 992
  @include media-breakpoint-down(md) {
    padding: 20% 0 30px;
  }

  // 576
  @media screen and (max-width: 576px) {
    max-width: 100%;

    padding: 24% 0 30px;
  }
}

// Absolut positions
@mixin absolut-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@mixin absolut-center-x {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0);
}


@mixin absolut-center-y {
  position: absolute;
  top: 50%;

  transform: translate(0, -50%);
}

@mixin bg {
  position: absolute;
  margin-top: -5px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    user-select: none;
    pointer-events: none;
  }
}

@mixin opacity-hover($default, $hover, $duration: .3s) {
  opacity: $default;
  transition: opacity $duration 0s;

  &:hover {
    opacity: $hover;
  }
}
