$bgDarkColor: #2B2B2B;
$bgDarkColor1: #282932;
$bgDarkColor2: #272831;

$dark1: #070808;
$dark2: #1A1A1A;
$dark3: #1A1B20;

$gray1: #5C5C66;
$gray2: #8C8C8C;
$gray3: #DBE7EF;
$gray4: #818893;

$white: #ffffff;
$white1: #F3F3F3;
$white2: #D8D8D8;

$ping1: #EB008B;
$pink2: #FF577E;
$pink3: #FF184D;
$pink4: #BE64BE;

$green1: #17A24F;
$green2: #158f46;
$green3: #0c622d;
$green4: #11a54b;

$gradient: linear-gradient(247.77deg, #BE64BE -23.09%, #170065 77.22%);
$red1: #c30438;
$red2: #FF2B2B;

$blue1: #100844;
$blue2: #003162;
$blue3: #01669A;
$blue4: #C2DEEC;
$blue5: #1B46B7;
$blue6: #170065;
