body {
    background: $bgDarkColor;
    color: $white;

    overflow-x: hidden;

    &.lock-slider,
    &.lock {
        overflow: hidden;
    }
}

// 992
@include media-breakpoint-down(md) {
    body {

        &.lock-slider,
        &.lock {

        }
    }
}

// 768
@include media-breakpoint-down(sm) {
    body {

        &.lock-slider,
        &.lock {

        }
    }
}

// 576
@media screen and (max-width: 576px) {
    body {

        &.lock-slider,
        &.lock {

        }
    }
}

a {
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2B2B2B;
}

::-webkit-scrollbar-track-piece {
    background: #2B2B2B;
}

::-webkit-scrollbar-thumb {
    background: #5C5C66;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}
