.section {
    min-height: 100vh;

    overflow: hidden;
}

// 1200
@include media-breakpoint-down(lg) {
    .section {

    }
}

// 992
@include media-breakpoint-down(md) {
    .section {
        min-height: auto;
    }
}

// 768
@include media-breakpoint-down(sm) {
    .section {

    }
}

// 576
@media screen and (max-width: 576px) {
    .section {

    }
}
