.central {
    $parent: &;
    @include absolut-center;

    display: flex;
    flex-direction: column;

    &__circle {
        position: relative;

        width: 100%;
        height: calc((560px - 160px) / 2);
        overflow: hidden;

        &-body {
            position: relative;
            height: 560px;
        }

        &--top {

            #{$parent} {

                &__circle {

                    &-body {
                        top: 5px;
                    }
                }
            }
        }

        &--bottom {
            #{$parent} {

                &__circle {

                    &-body {
                        bottom: 180%;
                    }
                }
            }
        }
    }

    &__l {

        &1 {
            @include absolut-center;

            &-body {
                width: 560px;
                height: 560px;

                border-radius: 50%;
                border: 2px solid #fff;

                &::after {
                    content: '';
                    position: absolute;

                    top: -4px;
                    left: -4px;

                    width: calc(100% + 8px);
                    height: calc(100% + 8px);

                    border-radius: 50%;
                    border: 10px solid #fff;
                    border-bottom-color: transparent;
                    border-left-color: transparent;

                    animation: level1 10s infinite linear;
                }
            }

            #{$parent} {

                &__dot {
                    animation: dots 20s infinite forwards;
                    width: 16px;

                    &:after {
                        top: -7px;
                        height: 16px;
                    }
                }
            }
        }

        &2 {
            @include absolut-center;

            &-body {
                width: 505px;
                height: 505px;

                border-radius: 50%;
                border: 2px solid #fff;

                &::after,
                &::before {
                    content: '';
                    position: absolute;

                    top: -4px;
                    left: -4px;

                    width: calc(100% + 8px);
                    height: calc(100% + 8px);

                    border-radius: 50%;
                    border: 10px solid #fff;
                }

                &::after {
                    animation: level1 18s reverse infinite ease;

                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }

                &::before {
                    animation: level1 10s infinite ease-in-out;

                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }

            #{$parent} {

                &__dot {
                    animation: dots 30s reverse infinite ease-in-out;
                    width: 18px;

                    &:after {
                        top: -8px;
                        height: 18px;
                    }
                }
            }
        }

        &3 {
            @include absolut-center;

            &-body {
                width: 455px;
                height: 455px;

                border-radius: 50%;
                border: 2px solid #fff;

                &::after {
                    content: '';
                    position: absolute;

                    top: -4px;
                    left: -4px;

                    width: calc(100% + 8px);
                    height: calc(100% + 8px);

                    border-radius: 50%;
                    border: 10px solid #fff;

                    animation: level1 12s reverse infinite ease-out;

                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
            }

            #{$parent} {

                &__dot {
                    animation: dots 15s infinite linear;
                    width: 12px;

                    &:after {
                        top: -5px;
                        height: 12px;
                    }
                }
            }
        }
    }

    &__info {
        position: relative;
        width: 50vw;
        height: 160px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Bebas Neue', cursive;
        background: radial-gradient(50% 50% at 50% 50%, #040B46 0%, rgba(116, 0, 0, 0) 100%);

        &-name {
            font-size: 80px;
            line-height: 80px;
        }

        &-code {
            position: absolute;
            color: $red2;

            font-size: 34px;
            line-height: 34px;

            &--top {
                right: 55%;
                bottom: 100%;

                padding-bottom: 5px;
                padding-left: 20px;

                border-bottom: 2px solid $red1;
            }

            &--bottom {
                left: 55%;
                top: 100%;

                padding-top: 5px;
                padding-right: 20px;

                border-top: 2px solid $red1;
            }
        }
    }

    &.noAnimation {

        #{$parent} {

            &__l {

                &1 {

                    &-body {

                        &::after {
                            animation: none;
                        }
                    }

                    #{$parent} {

                        &__dot {
                            animation: none;
                        }
                    }
                }

                &2 {

                    &-body {

                        &::before,
                        &::after {
                            animation: none;
                        }
                    }
                }

                &3 {

                    &-body {

                        &::after {
                            animation: none;
                        }
                    }

                    #{$parent} {

                        &__dot {
                            animation: none;
                        }
                    }
                }
            }
        }
    }
}

// 1200
@include media-breakpoint-down(lg) {
    .central {
        $parent: &;

        &__circle {
            height: calc((500px - 140px) / 2);

            &-body {
                position: relative;
                height: 500px;
            }
        }

        &__l {

            &1 {

                &-body {
                    width: 500px;
                    height: 500px;
                }
            }

            &2 {

                &-body {
                    width: 440px;
                    height: 440px;
                }
            }

            &3 {

                &-body {
                    width: 380px;
                    height: 380px;
                }
            }
        }

        &__info {
            width: 50vw;
            height: 140px;

            &-name {
                font-size: 64px;
                line-height: 100%;
            }

            &-code {
                font-size: 30px;
                line-height: 100%;

                &--top {
                    right: 55%;

                    padding-bottom: 0;
                    padding-left: 10px;
                }

                &--bottom {
                    left: 55%;

                    padding-top: 0;
                    padding-right: 10px;
                }
            }
        }
    }
}

// 992
@include media-breakpoint-down(md) {
    .central {

        &__circle {
            display: none;
        }

        &__info {
            width: 80vw;
            height: 140px;

            &-name {
                font-size: 64px;
            }

            &-code {
                font-size: 30px;
            }
        }
    }
}

// 768
@include media-breakpoint-down(sm) {
    .central {

        &__info {
            width: 80vw;
            height: 120px;

            &-name {
                font-size: 60px;
            }

            &-code {
                font-size: 28px;
            }
        }
    }
}

// 576
@media screen and (max-width: 576px) {
    .central {

        &__info {
            width: 100vw;

            &-name {
                font-size: 50px;
            }

            &-code {
                font-size: 26px;
            }
        }
    }
}
