.skill {
    $sq: 45px;
    $sq-font: 28px;
    $central: 40%;
    $max: 400px;
    $parent: &;

    position: absolute;
    z-index: 10;
    list-style: none;

    display: flex;
    align-items: center;

    margin: 30px 0;
    padding: 0;

    &__item {
        position: relative;

        &-clip {
            width: $sq;
            height: $sq;

            position: relative;
            z-index: 1;

            cursor: pointer;
            transition: .3s 0s;

            display: flex;
            align-items: flex-end;

            font-family: 'Bebas Neue', cursive;
            line-height: 100%;

            user-select: none;
            font-size: $sq-font;
            letter-spacing: 1.2px;

            padding: 0 0 0 6px;
            border: 1px solid $white;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 45%, 55% 0);

            &:after {
                content: '';

                position: absolute;

                top: -10px;
                right: 10px;
                transform: rotate(-45deg);

                width: 1px;
                height: 38px;
                border-right: 2px solid $white;
            }

            &:hover {
                background: $blue3;
            }
        }

        &-body {
            position: absolute;

            width: 15px;
            height: 100%;

            font-size: 16px;
            font-weight: bold;
            line-height: 120%;
            font-family: Raleway, sans-serif;

            opacity: 0;
            visibility: hidden;

            overflow: hidden;
            border: 1px solid $white;
            transition: .3s 0s;

            &.anim1 {
                opacity: 1;
                visibility: visible;
            }

            &.anim2 {
                width: $max;
            }
        }

        &-text {
            position: absolute;

            min-width: $max;
            padding: 6px 12px 6px 18px;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &--top {
        top: 0;
        left: $central;

        #{$parent} {

            &__item {

                &-body {
                    top: -10px;

                    &.anim1 {
                        top: calc(100% + 12px);
                    }
                }
            }
        }
    }

    &--bottom {
        bottom: 0;
        right: $central;

        #{$parent} {

            &__item {

                &-body {
                    right: $sq - 15;
                    bottom: -10px;

                    &.anim1 {
                        bottom: calc(100% + 12px);
                    }
                }
            }
        }
    }
}

// 1200
@include media-breakpoint-down(lg) {
    .skill {
        $sq: 40px;
        $sq-font: 26px;
        $central: 35%;
        $max: 400px;
        $parent: &;

        margin: 25px 0;

        &__item {

            &-clip {
                width: $sq;
                height: $sq;

                font-size: $sq-font;
                letter-spacing: 1.2px;
                padding: 0 0 0 6px;

                &:after {
                    top: -10px;
                    right: 7px;

                    width: 1px;
                    height: 38px;
                    border-right: 2px solid $white;
                }
            }

            &-body {
                width: 15px;

                font-size: 16px;
                line-height: 120%;

                &.anim2 {
                    width: $max;
                }
            }

            &-text {
                min-width: $max;
                padding: 6px 12px 6px 18px;
            }

            & + & {
                margin-left: 15px;
            }
        }

        &--top {
            left: $central;

            #{$parent} {

                &__item {

                    &-body {

                        &.anim1 {
                            top: calc(100% + 4px);
                        }
                    }
                }
            }
        }

        &--bottom {
            right: $central;

            #{$parent} {

                &__item {

                    &-body {
                        right: $sq - 15;
                        bottom: -10px;

                        &.anim1 {
                            bottom: calc(100% + 4px);
                        }
                    }
                }
            }
        }
    }
}

// 992
@include media-breakpoint-down(md) {
    .skill {
        $sq: 40px;
        $sq-font: 26px;
        $central: 25%;
        $max: 350px;
        $parent: &;

        margin: 25px 0;

        &__item {

            &-clip {
                width: $sq;
                height: $sq;

                font-size: $sq-font;
                letter-spacing: 1.05px;
                padding: 0 0 0 4px;

                &:after {
                    top: -10px;
                    right: 7px;

                    width: 1px;
                    height: 38px;
                    border-right: 2px solid $white;
                }
            }

            &-body {
                width: 15px;

                font-size: 16px;
                line-height: 120%;

                &.anim2 {
                    width: $max;
                }
            }

            &-text {
                min-width: $max;
                padding: 6px 12px 6px 18px;
            }

            & + & {
                margin-left: 15px;
            }
        }

        &--top {
            left: $central;

            #{$parent} {

                &__item {

                    &-body {

                        &.anim1 {
                            top: calc(100% + 4px);
                        }
                    }
                }
            }
        }

        &--bottom {
            right: $central;

            #{$parent} {

                &__item {

                    &-body {
                        right: $sq - 15;
                        bottom: -10px;

                        &.anim1 {
                            bottom: calc(100% + 4px);
                        }
                    }
                }
            }
        }
    }
}

// 768
@include media-breakpoint-down(sm) {
    .skill {
        $sq: 40px;
        $sq-font: 24px;
        $central: 100px;
        $max: 285px;
        $parent: &;

        margin: 20px 0;

        &__item {

            &-body {
                width: 15px;

                font-size: 16px;
                line-height: 120%;

                &.anim2 {
                    width: $max;
                }
            }

            &-text {
                min-width: $max;
                padding: 6px 12px 6px 18px;
            }

            & + & {
                margin-left: 15px;
            }
        }

        &--top {
            left: $central;

            #{$parent} {

                &__item {

                    &-body {

                        &.anim1 {
                            top: calc(100% + 4px);
                        }
                    }
                }
            }
        }

        &--bottom {
            right: $central;

            #{$parent} {

                &__item {

                    &-body {
                        right: $sq - 15;
                        bottom: -10px;

                        &.anim1 {
                            bottom: calc(100% + 4px);
                        }
                    }
                }
            }
        }
    }
}

// 576
@media screen and (max-width: 576px) {
    .skill {
        $sq: 40px;
        $sq-font: 24px;
        $central: 75px;
        $parent: &;

        &__item {
            $item: &;

            & + & {
                margin-left: 10px;
            }

            @for $i from 1 through 20 {
                $max: calc(100vw - #{$central + ($i - 1) * $sq + ($i - 1) * 10});

                &:nth-child(#{$i}) {

                    #{$item} {

                        &-body {

                            &.anim2 {
                                width: $max;
                            }
                        }

                        &-text {
                            min-width: $max;
                        }
                    }
                }
            }
        }

        &--top {
            left: $central;

            #{$parent} {

                &__item {

                    &-body {

                        &.anim1 {
                            top: calc(100% + 4px);
                        }
                    }
                }
            }
        }

        &--bottom {
            right: auto;
            left: $central;

            #{$parent} {

                &__item {

                    &-body {
                        right: auto;
                        left: 0;
                        bottom: -10px;

                        &.anim1 {
                            bottom: calc(100% + 4px);
                        }
                    }
                }
            }
        }
    }
}
