.skill {
    $sq: 50px;
    $sq-font: 32px;
    $central: 40%;
    $max: 400px;
    $parent: &;

    position: absolute;
    list-style: none;

    display: flex;
    align-items: center;

    margin: 30px 0;
    padding: 0;

    &__item {
        position: relative;

        &-clip {
            width: $sq;
            height: $sq;

            position: relative;
            z-index: 1;

            cursor: pointer;
            transition: .3s 0s;

            display: flex;
            align-items: flex-end;

            font-family: 'Bebas Neue', cursive;
            line-height: 100%;

            user-select: none;
            font-size: $sq-font;
            letter-spacing: 1.2px;

            padding: 0 0 0 6px;
            border: 2px solid $white;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 45%, 55% 0);

            &:after {
                content: '';

                position: absolute;

                top: -12px;
                right: 11px;
                transform: rotate(-45deg);

                width: 1px;
                height: 38px;
                border-right: 3px solid $white;
            }

            &:hover {
                background: $blue3;
            }
        }

        &-body {
            position: absolute;

            width: 15px;
            height: 100%;

            font-size: 16px;
            font-weight: bold;
            line-height: 120%;
            font-family: Raleway, sans-serif;

            opacity: 0;
            visibility: hidden;

            overflow: hidden;
            border: 1px solid $white;
            transition: .3s 0s;

            &.anim1 {
                opacity: 1;
                visibility: visible;
            }

            &.anim2 {
                width: $max;
            }
        }

        &-text {
            position: absolute;

            min-width: $max;
            padding: 6px 12px 6px 18px;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &--top {
        top: 0;
        left: $central;

        #{$parent} {

            &__item {

                &-body {
                    top: -10px;

                    &.anim1 {
                        top: calc(100% + 12px);
                    }
                }
            }
        }
    }

    &--bottom {
        bottom: 0;
        right: $central;

        #{$parent} {

            &__item {

                &-body {
                    bottom: -10px;

                    &.anim1 {
                        bottom: calc(100% + 12px);
                    }
                }
            }
        }
    }
}

// 1200
@include media-breakpoint-down(lg) {
    .skill {

    }
}

// 992
@include media-breakpoint-down(md) {
    .skill {

    }
}

// 768
@include media-breakpoint-down(sm) {
    .skill {

    }
}

// 576
@media screen and (max-width: 576px) {
    .skill {

    }
}
